<h1>Stupid Coaching</h1>
<p>Ask stupid coach anything you like:</p>

<div class="ask">
<form action="/answer" method="get">
  <input class="input" type="text" name="question">
  <input class="button" type="submit" value="Ask!">
</form>
</div>
<!-- http://localhost:3000/answer?question=I%20am%20going%20to%20workk
 -->
